* {
    box-sizing: border-box;
}

body {
    background: #d8d5d5;
    width: 375px;
    min-height: 100vh;
    margin: auto;
}

header {
    width: 550px;
}

.back-to-home {
    width: 260px;
    display: flex;
    margin-top: 32px;
    transition: transform 0.3s ease;
    text-decoration: none;
    position: absolute;
    top: -32px;
}

.left-arrow {
    height: 72px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D5966C;
    border: none;
    cursor: pointer;
}

.back-to-home-btn{
    height: 72px;
    width: 204px;
    background: #151515;
    font-family: 'Big Shoulders Display';
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    color: #FFFFFF;
    cursor: pointer;
}

.back-to-home:active {
    transform: scale(0.95);
}

.back-to-home:hover .back-to-home-btn {
    background-color: #D5966C;
    transition: 0.25s linear 0.25s;
    border: none;
}

.back-to-home:hover .left-arrow {
    background-color: #151515;
    transition: 0.25s linear 0.25s;
}

main {
    height: 493px;
    width: 375px;
    padding: 48px 16px 56px 16px;
    display: flex;
    flex-direction: column;
    background: #151515;
}

h1 {
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 50px;
    color: #FFFFFF;
}

h2 {
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    color: #D5966C;
    margin-top: 48px;
}

.location-text {
    height: 84px;
    margin-top: 20px;
}

.location-text p {
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.main-text {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 20px;
}

footer {
    background: #D5966C;
    height: 336px;
    padding: 48px 32px;
}

.footer-text {
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #151515;
    margin-top: 38px;
}

.icons-box {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}

.icons-box img {
    filter: contrast(200%) brightness(0%) saturate(0%);
}

.icons-box img:hover {
    cursor: pointer;
    filter: opacity(0.5) drop-shadow(0 0 0 #ffffff);
}